<a href="https://colab.research.google.com/github/mvieiradev/Operadores-Python/blob/main/CI_DSCPT_1_3_Operadores_%C3%A9_Condicionais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Condicionais

In [ ]:
a=3
b=5
c=a+b
print(c)

c=b-a
c

c=b*a
c

c=b/a
c

c=b%a
c

c=b**a

Operadores

In [ ]:
year=int(input("Introduza o seu ano de nascimento:"))
idade=2023-year
print("Tenis", idade, "anos.")

In [ ]:
lado=float(input("Introduza o lado = "))
area=lado**2
print(area)

In [ ]:
num_1=int(input("introduza o primeiro numero:"))
num_2=int(input("introduza o segundo numero:"))
soma=num_1 + num_2
subs=num_1 - num_2
print("A soma e:", soma, "\nA subtracao e:" , subs)

In [ ]:
numero=int(input("Introduza o numero"))
if numero>= 10: 
  x=True
else:
  x=False
print("O resultado da comparacao e: ", x )

In [ ]:
year=int(input("Introduza o ano: "))
idade=2022-year
if idade >= 18:
    print("Tenis", idade, "anos." , "Es mair de idade")
  else:
    print("Tens", idade, "anos")

In [ ]:
x=int(input("ponto x"))
y=int(input("ponto y"))
if x<=10 and y<=10: 
  res=True
else:
  res=False
print("O resultado da comparacao e:", res)

In [ ]:
numero=int(input("Introduza um numero: "))
if numero%2 != 0:
  print("E UM NUMERO IMPAR")
else:
  print("O NUMERO E PAR")

In [ ]:
numero=int(input("Introduza um numero:"))
if numero >= 0 and numero <=10:
  x=True
else:
  x=False
print(x)

In [ ]:
numero=int(input("Introduza um numero:"))
if 0<=numero<=10:
  x=True
else: 
  x=False
print(x)

Teste

In [ ]:
num_1=int(input("introduza o primeiro numero:"))
num_2=int(input("introduza o segundo numero:"))
soma=num_1 + num_2
print("A soma e:", soma)
if soma>= 10: 
  x=True
else:
  x=False
print("O resultado da comparacao e: ", x )